head
    link(href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,100;1,300&display=swap' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='vendors/css/normalize.css')
    link(rel='stylesheet' type='text/css' href='vendors/css/grid.css')
    link(rel='stylesheet' type='text/css' href='resources/css/style.css')
    script(src='https://unpkg.com/ionicons@5.2.3/dist/ionicons.js')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    title #{title}
header
  nav
    .row
      img.logo(src='resources/css/img/logo.png' alt='logo')
      ul.main-nav
        if user
          li
            a(href='#')=user.name 
          li
            a(href='#') user.photo 
          li
            a(href='#') user.picture 
          .div-one
            a.btn.btn-full(href='#') Name 
            a.btn.btn-ghost(href='/logout') logout 
        else
          li
            a(href='#')  First 
          li
            a(href='#')  Second 
          li
            a(href='#')  Third 
          .div-one
            a.btn.btn-full(href='#') Teachers 
            a.btn.btn-ghost(href='/login') Login 
.row
  section.section-features
    .row
      h2  Welcome to Learning
      p.long-copy  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
    .row
      .col.span-1-of-5.span-box
        ion-icon(name='airplane-outline')
        p.box-text   This is the col span-1-of-5 section 
      .col.span-1-of-5.span-box
        ion-icon(name='airplane-outline')
        p.box-text    This is the 2 col span-1-of-5 section 
      .col.span-1-of-5.span-box
        ion-icon(name='airplane-outline')
        p.box-text   This is the 3 col span-1-of-5 section 
      .col.span-1-of-5.span-box
        ion-icon(name='airplane-outline')
        p.box-text   This is the 4 ol span-1-of-5 section 
      .col.span-1-of-5.span-box
        ion-icon(name='airplane-outline')
        p.box-text   This is the 5 col span-1-of-5 section 
