extends parent

block content   

    main.main
        .Sign Login into your Account
        form.form1    
            label(for='email') 
            input.un(type='email', placeholder='your@domain.com',required)
            label(for='password') 
            input.pass(type='password',placeholder='********',required)
            button.smbutton Login

