doctype html


body
    include _header

    //CONTENT
    section.section-features

    each course in courses
        .row
          h2=course.name
          p.long-copy Number of seats for students are 
            u=course.seats
        .row
          .col.span-1-of-3.span-box
            ion-icon(name='airplane-outline')
            p Course Duration 
             =course.duration
                       
          .col.span-1-of-3.span-box
            ion-icon(name='airplane-outline')
            p    col span-1-of-3 section 
          .col.span-1-of-3.span-box
            ion-icon(name='airplane-outline')
            p  col span-1-of-3 section 
           

