head

    title #{title}

body    
    //Header
    include _header

    //Content
    block content
    


    //Footer
    include _footer

    //- script(src='vendors/js/axios.js')
    //- script(src='resources/js/login.js')
    script(src='/resources/js/bundle.js')
